In [1]:
import time
import pandas as pd

from pyspark.sql import functions as F
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Pyspark demo") \
    .master("local[*]").getOrCreate()
sc = spark.sparkContext

In [5]:
# Read the employee data
rdd  = sc.textFile("logs.txt")

In [6]:
rdd.collect()

['2026-02-07 10:15:20 INFO user=101 action=login status=success',
 '2026-02-07 10:16:05 ERROR user=102 action=payment status=failed',
 '2026-02-07 10:17:11 WARN user=103 action=upload status=slow',
 '2026-02-07 10:18:50 INFO user=104 action=logout status=success',
 '2026-02-07 10:19:33 ERROR user=105 action=payment status=failed',
 'Hello this is ETL QA Labs . ']

In [8]:
# Read each line and append with something
line =1
for line_num in rdd.collect():
    print(line,".",line_num)
    line = line +1

1 . 2026-02-07 10:15:20 INFO user=101 action=login status=success
2 . 2026-02-07 10:16:05 ERROR user=102 action=payment status=failed
3 . 2026-02-07 10:17:11 WARN user=103 action=upload status=slow
4 . 2026-02-07 10:18:50 INFO user=104 action=logout status=success
5 . 2026-02-07 10:19:33 ERROR user=105 action=payment status=failed
6 . Hello this is ETL QA Labs .

In [9]:
# Data type of RDD
type(rdd)

pyspark.core.rdd.RDD

In [10]:
rdd_emp = sc.textFile("emp_details_source.csv")

In [13]:
rdd_emp.collect()

['eno,ename,doj,deptno,salary',
 '1001,Arjun Sharma,2022-01-15,10,1000',
 '1002,Priya Patel,2023-03-22,20,67387',
 '1003,Ravi Kumar,2021-05-10,30,70421',
 '1004,Sneha Gupta,2020-08-25,40,68902',
 '1005,Anil Reddy,2024-02-13,50,78005',
 '1006,Neha Verma,2019-11-30,60,59843',
 '1007,Vijay Singh,2022-07-08,10,1000',
 '1008,Ananya Iyer,2021-03-15,20,74625',
 '1009,Manish Joshi,2020-12-19,30,67560',
 '1010,Simran Kaur,2023-01-11,40,68902',
 '1011,Rajesh Mehta,2021-09-01,50,62497',
 '1012,Deepika Desai,2020-06-10,60,70179',
 '1013,Shivani Sharma,2022-09-13,10,74363',
 '1014,Harish Nair,2023-04-01,20,61487',
 '1015,Komal Yadav,2021-11-23,30,61894',
 '1016,Ajay Bhatt,2020-04-25,40,70109',
 '1017,Pooja Malik,2022-02-28,50,77450',
 '1018,Raghav Joshi,2021-06-14,60,62873',
 '1019,Meera Nair,2020-09-17,10,1000',
 '1020,Krishna Rao,2023-10-02,20,2000',
 '1021,Prakash Pillai,2022-12-11,10,73569',
 '1022,Aishwarya Deshmukh,2021-07-25,20,69746',
 '1023,Vikas Soni,2020-11-15,30,60933',
 '1024,Ritu Mehra,2023-05-20,40,67801',
 '1025,Nitin Chauhan,2020-03-30,50,66948',
 '1026,Swati Kapoor,2021-10-05,60,66972',
 '1027,Harshit Kumar,2022-08-16,10,66535',
 '1028,Kanika Thakur,2020-01-10,20,67752',
 '1029,Arvind Agarwal,2023-02-18,30,70986',
 '1030,Divya Singh,2021-04-22,40,67845',
 '1031,Akash Prasad,2020-06-05,50,72594',
 '1032,Geeta Rani,2022-09-07,60,63916',
 '1033,Suresh Jain,2021-12-01,10,69234',
 '1034,Sonal Shah,2023-08-13,20,2000',
 '1035,Jayesh Bansal,2020-02-15,30,69811',
 '1036,Shweta Yadav,2021-06-03,40,63559',
 '1037,Rajendra Joshi,2023-11-19,50,73561',
 '1038,Kavita Mehta,2020-07-25,60,71892',
 '1039,Ajit Reddy,2022-04-18,10,69399',
 '1040,Pratibha Sharma,2021-09-05,20,65072',
 '1041,Subodh Tripathi,2020-05-14,30,68215',
 '1042,Sunita Gupta,2023-03-09,40,72534',
 '1043,Arvind Kumar,2021-0-22,50,70019',
 '1044,Neeraj Agarwal,2020-02-19,60,69312',
 '1045,Pankaj Joshi,2022-06-10,10,70445',
 '1046,Suman Iyer,2023-04-28,20,67751',
 '1047,Sunil Verma,2020-09-14,30,66989',
 '1048,Meenal Pandey,2021-07-03,40,66228',
 '1049,Manju Nair,2022-11-17,50,69061',
 '1050,Sandeep Yadav,2021-10-12,60,60921']

In [15]:
# Read the file using dataframe( spark) - Way 1
df_emp_sp = spark.read.csv("emp_details_source.csv",header=True)

In [18]:
df = df_emp_sp.show()

+----+--------------+----------+------+------+
| eno|         ename|       doj|deptno|salary|
+----+--------------+----------+------+------+
|1001|  Arjun Sharma|2022-01-15|    10|  1000|
|1002|   Priya Patel|2023-03-22|    20| 67387|
|1003|    Ravi Kumar|2021-05-10|    30| 70421|
|1004|   Sneha Gupta|2020-08-25|    40| 68902|
|1005|    Anil Reddy|2024-02-13|    50| 78005|
|1006|    Neha Verma|2019-11-30|    60| 59843|
|1007|   Vijay Singh|2022-07-08|    10|  1000|
|1008|   Ananya Iyer|2021-03-15|    20| 74625|
|1009|  Manish Joshi|2020-12-19|    30| 67560|
|1010|   Simran Kaur|2023-01-11|    40| 68902|
|1011|  Rajesh Mehta|2021-09-01|    50| 62497|
|1012| Deepika Desai|2020-06-10|    60| 70179|
|1013|Shivani Sharma|2022-09-13|    10| 74363|
|1014|   Harish Nair|2023-04-01|    20| 61487|
|1015|   Komal Yadav|2021-11-23|    30| 61894|
|1016|    Ajay Bhatt|2020-04-25|    40| 70109|
|1017|   Pooja Malik|2022-02-28|    50| 77450|
|1018|  Raghav Joshi|2021-06-14|    60| 62873|
|1019|    Meera Nair|2020-09-17|    10|  1000|
|1020|   Krishna Rao|2023-10-02|    20|  2000|
+----+--------------+----------+------+------+
only showing top 20 rows

In [25]:
# read the file using pandas
df_pd_emp = pd.read_csv("emp_details_source.csv")

In [26]:
# Read the file using dataframe( spark) - Way 1
df_emp_sp = spark.read.csv("emp_details_source.csv",header=True)

In [27]:
df_emp_sp.show()

+----+--------------+----------+------+------+
| eno|         ename|       doj|deptno|salary|
+----+--------------+----------+------+------+
|1001|  Arjun Sharma|2022-01-15|    10|  1000|
|1002|   Priya Patel|2023-03-22|    20| 67387|
|1003|    Ravi Kumar|2021-05-10|    30| 70421|
|1004|   Sneha Gupta|2020-08-25|    40| 68902|
|1005|    Anil Reddy|2024-02-13|    50| 78005|
|1006|    Neha Verma|2019-11-30|    60| 59843|
|1007|   Vijay Singh|2022-07-08|    10|  1000|
|1008|   Ananya Iyer|2021-03-15|    20| 74625|
|1009|  Manish Joshi|2020-12-19|    30| 67560|
|1010|   Simran Kaur|2023-01-11|    40| 68902|
|1011|  Rajesh Mehta|2021-09-01|    50| 62497|
|1012| Deepika Desai|2020-06-10|    60| 70179|
|1013|Shivani Sharma|2022-09-13|    10| 74363|
|1014|   Harish Nair|2023-04-01|    20| 61487|
|1015|   Komal Yadav|2021-11-23|    30| 61894|
|1016|    Ajay Bhatt|2020-04-25|    40| 70109|
|1017|   Pooja Malik|2022-02-28|    50| 77450|
|1018|  Raghav Joshi|2021-06-14|    60| 62873|
|1019|    Meera Nair|2020-09-17|    10|  1000|
|1020|   Krishna Rao|2023-10-02|    20|  2000|
+----+--------------+----------+------+------+
only showing top 20 rows

In [29]:
# Read the file using dataframe( spark) - Way 2
df_sp = spark.read.option("header","True").option("inferSchema","True").option("delimiter",",").csv("emp_details_source.csv")

In [31]:
df_sp.show()

+----+--------------+----------+------+------+
| eno|         ename|       doj|deptno|salary|
+----+--------------+----------+------+------+
|1001|  Arjun Sharma|2022-01-15|    10|  1000|
|1002|   Priya Patel|2023-03-22|    20| 67387|
|1003|    Ravi Kumar|2021-05-10|    30| 70421|
|1004|   Sneha Gupta|2020-08-25|    40| 68902|
|1005|    Anil Reddy|2024-02-13|    50| 78005|
|1006|    Neha Verma|2019-11-30|    60| 59843|
|1007|   Vijay Singh|2022-07-08|    10|  1000|
|1008|   Ananya Iyer|2021-03-15|    20| 74625|
|1009|  Manish Joshi|2020-12-19|    30| 67560|
|1010|   Simran Kaur|2023-01-11|    40| 68902|
|1011|  Rajesh Mehta|2021-09-01|    50| 62497|
|1012| Deepika Desai|2020-06-10|    60| 70179|
|1013|Shivani Sharma|2022-09-13|    10| 74363|
|1014|   Harish Nair|2023-04-01|    20| 61487|
|1015|   Komal Yadav|2021-11-23|    30| 61894|
|1016|    Ajay Bhatt|2020-04-25|    40| 70109|
|1017|   Pooja Malik|2022-02-28|    50| 77450|
|1018|  Raghav Joshi|2021-06-14|    60| 62873|
|1019|    Meera Nair|2020-09-17|    10|  1000|
|1020|   Krishna Rao|2023-10-02|    20|  2000|
+----+--------------+----------+------+------+
only showing top 20 rows

In [33]:
# Read the selected columns
df_sp = spark.read.option("header","True").option("inferSchema","True").option("delimiter",",").csv("emp_details_source.csv").select("eno","ename","salary")
df_sp.show()

+----+--------------+------+
| eno|         ename|salary|
+----+--------------+------+
|1001|  Arjun Sharma|  1000|
|1002|   Priya Patel| 67387|
|1003|    Ravi Kumar| 70421|
|1004|   Sneha Gupta| 68902|
|1005|    Anil Reddy| 78005|
|1006|    Neha Verma| 59843|
|1007|   Vijay Singh|  1000|
|1008|   Ananya Iyer| 74625|
|1009|  Manish Joshi| 67560|
|1010|   Simran Kaur| 68902|
|1011|  Rajesh Mehta| 62497|
|1012| Deepika Desai| 70179|
|1013|Shivani Sharma| 74363|
|1014|   Harish Nair| 61487|
|1015|   Komal Yadav| 61894|
|1016|    Ajay Bhatt| 70109|
|1017|   Pooja Malik| 77450|
|1018|  Raghav Joshi| 62873|
|1019|    Meera Nair|  1000|
|1020|   Krishna Rao|  2000|
+----+--------------+------+
only showing top 20 rows

In [37]:
# Read from row no 10 to 15
df_sp = spark.read.option("header","True").option("inferSchema","True").option("delimiter",",").csv("emp_details_source.csv").select("eno","ename","salary")
df_sp.limit(15).subtract(df_sp.limit(10)).show()

+----+--------------+------+
| eno|         ename|salary|
+----+--------------+------+
|1011|  Rajesh Mehta| 62497|
|1012| Deepika Desai| 70179|
|1013|Shivani Sharma| 74363|
|1014|   Harish Nair| 61487|
|1015|   Komal Yadav| 61894|
+----+--------------+------+

In [38]:
# Read the zipped file
df_sp = spark.read.option("header","True").option("inferSchema","True").option("delimiter",",").option("compression","gzip").csv("emp_details_target.csv.gz")
df_sp.show()

+----+--------------+----------+------+------+
| eno|         ename|       doj|deptno|salary|
+----+--------------+----------+------+------+
|1001|  Arjun Sharma|2022-01-15|    10|  1000|
|1002|   Priya Patel|2023-03-22|    20| 67387|
|1003|    Ravi Kumar|2021-05-10|    30| 70421|
|1004|   Sneha Gupta|2020-08-25|    40| 68902|
|1005|    Anil Reddy|2024-02-13|    50| 78005|
|1006|    Neha Verma|2019-11-30|    60| 59843|
|1007|   Vijay Singh|2022-07-08|    10|  1000|
|1008|   Ananya Iyer|2021-03-15|    20| 74625|
|1009|  Manish Joshi|2020-12-19|    30| 67560|
|1010|   Simran Kaur|2023-01-11|    40| 68902|
|1011|  Rajesh Mehta|2021-09-01|    50| 62497|
|1012| Deepika Desai|2020-06-10|    60| 70179|
|1013|Shivani Sharma|2022-09-13|    10| 74363|
|1014|   Harish Nair|2023-04-01|    20| 61487|
|1015|   Komal Yadav|2021-11-23|    30| 61894|
|1016|    Ajay Bhatt|2020-04-25|    40| 70109|
|1017|   Pooja Malik|2022-02-28|    50| 77450|
|1018|  Raghav Joshi|2021-06-14|    60| 62873|
|1019|    Meera Nair|2020-09-17|    10|  1000|
|1020|   Krishna Rao|2023-10-02|    20|  2000|
+----+--------------+----------+------+------+
only showing top 20 rows

In [39]:
# Write the data in to file
df_sp = spark.read.option("header","True").option("inferSchema","True").option("delimiter",",").option("compression","gzip").csv("emp_details_target.csv.gz")

df_sp.write.mode("overwrite").option("header","True").csv("output")

In [46]:
# Sorting ( in ascending order of salary)
df_sp.orderBy(df_sp.salary.asc())

DataFrame[eno: int, ename: string, doj: string, deptno: int, salary: int]

In [48]:
# Sorting ( in descending order of salary)
df_sp.orderBy(df_sp.salary.desc())

DataFrame[eno: int, ename: string, doj: string, deptno: int, salary: int]

In [50]:
# Sorting ( in ascending order of deptno and salary)
df_sp.orderBy(df_sp.deptno.asc(),df_sp.salary.asc()).show()

+----+------------------+----------+------+------+
| eno|             ename|       doj|deptno|salary|
+----+------------------+----------+------+------+
|1001|      Arjun Sharma|2022-01-15|    10|  1000|
|1007|       Vijay Singh|2022-07-08|    10|  1000|
|1019|        Meera Nair|2020-09-17|    10|  1000|
|1027|     Harshit Kumar|2022-08-16|    10| 66535|
|1033|       Suresh Jain|2021-12-01|    10| 69234|
|1039|        Ajit Reddy|2022-04-18|    10| 69399|
|1045|      Pankaj Joshi|2022-06-10|    10| 70445|
|1021|    Prakash Pillai|2022-12-11|    10| 73569|
|1013|    Shivani Sharma|2022-09-13|    10| 74363|
|1020|       Krishna Rao|2023-10-02|    20|  2000|
|1034|        Sonal Shah|2023-08-13|    20|  2000|
|1014|       Harish Nair|2023-04-01|    20| 61487|
|1040|   Pratibha Sharma|2021-09-05|    20| 65072|
|1002|       Priya Patel|2023-03-22|    20| 67387|
|1046|        Suman Iyer|2023-04-28|    20| 67751|
|1028|     Kanika Thakur|2020-01-10|    20| 67752|
|1022|Aishwarya Deshmukh|2021-07-25|    20| 69746|
|1008|       Ananya Iyer|2021-03-15|    20| 74625|
|1023|        Vikas Soni|2020-11-15|    30| 60933|
|1015|       Komal Yadav|2021-11-23|    30| 61894|
+----+------------------+----------+------+------+
only showing top 20 rows

In [53]:
# Filter the data only for deptno = 10
df_sp.filter(df_sp.deptno==10).show()

+----+--------------+----------+------+------+
| eno|         ename|       doj|deptno|salary|
+----+--------------+----------+------+------+
|1001|  Arjun Sharma|2022-01-15|    10|  1000|
|1007|   Vijay Singh|2022-07-08|    10|  1000|
|1013|Shivani Sharma|2022-09-13|    10| 74363|
|1019|    Meera Nair|2020-09-17|    10|  1000|
|1021|Prakash Pillai|2022-12-11|    10| 73569|
|1027| Harshit Kumar|2022-08-16|    10| 66535|
|1033|   Suresh Jain|2021-12-01|    10| 69234|
|1039|    Ajit Reddy|2022-04-18|    10| 69399|
|1045|  Pankaj Joshi|2022-06-10|    10| 70445|
+----+--------------+----------+------+------+

In [56]:
# Filter the data only for deptno = 10 and salary > 1000
df_sp.filter((df_sp.deptno==10) & (df_sp.salary>1000)).show()

+----+--------------+----------+------+------+
| eno|         ename|       doj|deptno|salary|
+----+--------------+----------+------+------+
|1013|Shivani Sharma|2022-09-13|    10| 74363|
|1021|Prakash Pillai|2022-12-11|    10| 73569|
|1027| Harshit Kumar|2022-08-16|    10| 66535|
|1033|   Suresh Jain|2021-12-01|    10| 69234|
|1039|    Ajit Reddy|2022-04-18|    10| 69399|
|1045|  Pankaj Joshi|2022-06-10|    10| 70445|
+----+--------------+----------+------+------+

In [57]:
# Filter the data only for deptno = 10 or salary > 1000
df_sp.filter((df_sp.deptno==10) |(df_sp.salary>1000)).show()

+----+--------------+----------+------+------+
| eno|         ename|       doj|deptno|salary|
+----+--------------+----------+------+------+
|1001|  Arjun Sharma|2022-01-15|    10|  1000|
|1002|   Priya Patel|2023-03-22|    20| 67387|
|1003|    Ravi Kumar|2021-05-10|    30| 70421|
|1004|   Sneha Gupta|2020-08-25|    40| 68902|
|1005|    Anil Reddy|2024-02-13|    50| 78005|
|1006|    Neha Verma|2019-11-30|    60| 59843|
|1007|   Vijay Singh|2022-07-08|    10|  1000|
|1008|   Ananya Iyer|2021-03-15|    20| 74625|
|1009|  Manish Joshi|2020-12-19|    30| 67560|
|1010|   Simran Kaur|2023-01-11|    40| 68902|
|1011|  Rajesh Mehta|2021-09-01|    50| 62497|
|1012| Deepika Desai|2020-06-10|    60| 70179|
|1013|Shivani Sharma|2022-09-13|    10| 74363|
|1014|   Harish Nair|2023-04-01|    20| 61487|
|1015|   Komal Yadav|2021-11-23|    30| 61894|
|1016|    Ajay Bhatt|2020-04-25|    40| 70109|
|1017|   Pooja Malik|2022-02-28|    50| 77450|
|1018|  Raghav Joshi|2021-06-14|    60| 62873|
|1019|    Meera Nair|2020-09-17|    10|  1000|
|1020|   Krishna Rao|2023-10-02|    20|  2000|
+----+--------------+----------+------+------+
only showing top 20 rows

In [61]:
# get me the count of employees working in each department ( Grouping the data )
df_sp.groupBy('deptno').agg(F.count("salary").alias("emp_count")).show()

+------+---------+
|deptno|emp_count|
+------+---------+
|    20|        9|
|    40|        8|
|    10|        9|
|    50|        8|
|    60|        8|
|    30|        8|
+------+---------+

In [65]:
df_sp = spark.read.option("header","True").option("inferSchema","True").option("delimiter",",").csv("emp_details_source.csv")
df_sp.show()

+----+--------------+----------+------+------+---------+
| eno|         ename|       doj|deptno|salary|     city|
+----+--------------+----------+------+------+---------+
|1001|  Arjun Sharma|2022-01-15|    10|  1000|Bangalore|
|1002|   Priya Patel|2023-03-22|    20| 67387|Bangalore|
|1003|    Ravi Kumar|2021-05-10|    30| 70421|Bangalore|
|1004|   Sneha Gupta|2020-08-25|    40| 68902|Bangalore|
|1005|    Anil Reddy|2024-02-13|    50| 78005|     Pune|
|1006|    Neha Verma|2019-11-30|    60| 59843|     Pune|
|1007|   Vijay Singh|2022-07-08|    10|  1000|     Pune|
|1008|   Ananya Iyer|2021-03-15|    20| 74625|     Pune|
|1009|  Manish Joshi|2020-12-19|    30| 67560|     Pune|
|1010|   Simran Kaur|2023-01-11|    40| 68902|     Pune|
|1011|  Rajesh Mehta|2021-09-01|    50| 62497|     Pune|
|1012| Deepika Desai|2020-06-10|    60| 70179|     NULL|
|1013|Shivani Sharma|2022-09-13|    10| 74363|     NULL|
|1014|   Harish Nair|2023-04-01|    20| 61487|     NULL|
|1015|   Komal Yadav|2021-11-23|    30| 61894|     NULL|
|1016|    Ajay Bhatt|2020-04-25|    40| 70109|     NULL|
|1017|   Pooja Malik|2022-02-28|    50| 77450|     NULL|
|1018|  Raghav Joshi|2021-06-14|    60| 62873|     NULL|
|1019|    Meera Nair|2020-09-17|    10|  1000|     NULL|
|1020|   Krishna Rao|2023-10-02|    20|  2000|     NULL|
+----+--------------+----------+------+------+---------+
only showing top 20 rows

In [67]:
# get me the count of employees working in each city and department ( Grouping the data )
df_sp.groupBy('city','deptno').agg(F.count("salary").alias("emp_count")).orderBy("city").show()

+---------+------+---------+
|     city|deptno|emp_count|
+---------+------+---------+
|     NULL|    20|        4|
|     NULL|    40|        2|
|     NULL|    10|        4|
|     NULL|    50|        2|
|     NULL|    60|        3|
|     NULL|    30|        2|
|Bangalore|    20|        1|
|Bangalore|    30|        1|
|Bangalore|    40|        1|
|Bangalore|    10|        1|
|    Delhi|    40|        3|
|    Delhi|    50|        3|
|    Delhi|    30|        3|
|    Delhi|    60|        3|
|    Delhi|    20|        3|
|    Delhi|    10|        3|
|     Pune|    50|        3|
|     Pune|    20|        1|
|     Pune|    10|        1|
|     Pune|    30|        2|
+---------+------+---------+
only showing top 20 rows

In [70]:
# use of multiple aggregate functions
df_sp.groupBy('deptno').agg(  F.count("salary").alias("emp_count"), F.sum("salary").alias("total_sal"), F.max("salary").alias("max_sal")   ).show()

+------+---------+---------+-------+
|deptno|emp_count|total_sal|max_sal|
+------+---------+---------+-------+
|    20|        9|   477820|  74625|
|    40|        8|   545880|  72534|
|    10|        9|   426545|  74363|
|    50|        8|   570135|  78005|
|    60|        8|   525908|  71892|
|    30|        8|   536809|  70986|
+------+---------+---------+-------+

In [74]:
# Having ( filter)
# use of multiple aggregate functions
df_group = df_sp.groupBy('deptno').agg(F.count("salary").alias("emp_count"))
df_group.filter(df_group.emp_count>8).show()

+------+---------+
|deptno|emp_count|
+------+---------+
|    20|        9|
|    10|        9|
+------+---------+

In [75]:
df_sp.show()

+----+--------------+----------+------+------+---------+
| eno|         ename|       doj|deptno|salary|     city|
+----+--------------+----------+------+------+---------+
|1001|  Arjun Sharma|2022-01-15|    10|  1000|Bangalore|
|1002|   Priya Patel|2023-03-22|    20| 67387|Bangalore|
|1003|    Ravi Kumar|2021-05-10|    30| 70421|Bangalore|
|1004|   Sneha Gupta|2020-08-25|    40| 68902|Bangalore|
|1005|    Anil Reddy|2024-02-13|    50| 78005|     Pune|
|1006|    Neha Verma|2019-11-30|    60| 59843|     Pune|
|1007|   Vijay Singh|2022-07-08|    10|  1000|     Pune|
|1008|   Ananya Iyer|2021-03-15|    20| 74625|     Pune|
|1009|  Manish Joshi|2020-12-19|    30| 67560|     Pune|
|1010|   Simran Kaur|2023-01-11|    40| 68902|     Pune|
|1011|  Rajesh Mehta|2021-09-01|    50| 62497|     Pune|
|1012| Deepika Desai|2020-06-10|    60| 70179|     NULL|
|1013|Shivani Sharma|2022-09-13|    10| 74363|     NULL|
|1014|   Harish Nair|2023-04-01|    20| 61487|     NULL|
|1015|   Komal Yadav|2021-11-23|    30| 61894|     NULL|
|1016|    Ajay Bhatt|2020-04-25|    40| 70109|     NULL|
|1017|   Pooja Malik|2022-02-28|    50| 77450|     NULL|
|1018|  Raghav Joshi|2021-06-14|    60| 62873|     NULL|
|1019|    Meera Nair|2020-09-17|    10|  1000|     NULL|
|1020|   Krishna Rao|2023-10-02|    20|  2000|     NULL|
+----+--------------+----------+------+------+---------+
only showing top 20 rows

In [89]:
# Joins
df_emp = spark.read.option("header","True").option("inferSchema","True").option("delimiter",",").csv("emp_details_source.csv")
df_dept = spark.read.option("header","True").option("inferSchema","True").option("delimiter",",").csv("department.csv")

In [85]:
# Inner join
df_emp.join(df_dept,on='deptno',how='inner').show()

+------+----+--------------+----------+------+---------+--------+
|deptno| eno|         ename|       doj|salary|     city|deptname|
+------+----+--------------+----------+------+---------+--------+
|    10|1001|  Arjun Sharma|2022-01-15|  1000|Bangalore|      IT|
|    20|1002|   Priya Patel|2023-03-22| 67387|Bangalore|  Travel|
|    30|1003|    Ravi Kumar|2021-05-10| 70421|Bangalore|   Forex|
|    40|1004|   Sneha Gupta|2020-08-25| 68902|Bangalore|      HR|
|    10|1007|   Vijay Singh|2022-07-08|  1000|     Pune|      IT|
|    20|1008|   Ananya Iyer|2021-03-15| 74625|     Pune|  Travel|
|    30|1009|  Manish Joshi|2020-12-19| 67560|     Pune|   Forex|
|    40|1010|   Simran Kaur|2023-01-11| 68902|     Pune|      HR|
|    10|1013|Shivani Sharma|2022-09-13| 74363|     NULL|      IT|
|    20|1014|   Harish Nair|2023-04-01| 61487|     NULL|  Travel|
|    30|1015|   Komal Yadav|2021-11-23| 61894|     NULL|   Forex|
+------+----+--------------+----------+------+---------+--------+

In [86]:
# left join
df_emp.join(df_dept,on='deptno',how='left').show()

+------+----+--------------+----------+------+---------+--------+
|deptno| eno|         ename|       doj|salary|     city|deptname|
+------+----+--------------+----------+------+---------+--------+
|    10|1001|  Arjun Sharma|2022-01-15|  1000|Bangalore|      IT|
|    20|1002|   Priya Patel|2023-03-22| 67387|Bangalore|  Travel|
|    30|1003|    Ravi Kumar|2021-05-10| 70421|Bangalore|   Forex|
|    40|1004|   Sneha Gupta|2020-08-25| 68902|Bangalore|      HR|
|    50|1005|    Anil Reddy|2024-02-13| 78005|     Pune|    NULL|
|    60|1006|    Neha Verma|2019-11-30| 59843|     Pune|    NULL|
|    10|1007|   Vijay Singh|2022-07-08|  1000|     Pune|      IT|
|    20|1008|   Ananya Iyer|2021-03-15| 74625|     Pune|  Travel|
|    30|1009|  Manish Joshi|2020-12-19| 67560|     Pune|   Forex|
|    40|1010|   Simran Kaur|2023-01-11| 68902|     Pune|      HR|
|    50|1011|  Rajesh Mehta|2021-09-01| 62497|     Pune|    NULL|
|    60|1012| Deepika Desai|2020-06-10| 70179|     NULL|    NULL|
|    10|1013|Shivani Sharma|2022-09-13| 74363|     NULL|      IT|
|    20|1014|   Harish Nair|2023-04-01| 61487|     NULL|  Travel|
|    30|1015|   Komal Yadav|2021-11-23| 61894|     NULL|   Forex|
+------+----+--------------+----------+------+---------+--------+

In [90]:
# Right join
df_emp.join(df_dept,on='deptno',how='right').show()

+------+----+--------------+----------+------+---------+---------+
|deptno| eno|         ename|       doj|salary|     city| deptname|
+------+----+--------------+----------+------+---------+---------+
|    10|1013|Shivani Sharma|2022-09-13| 74363|     NULL|       IT|
|    10|1007|   Vijay Singh|2022-07-08|  1000|     Pune|       IT|
|    10|1001|  Arjun Sharma|2022-01-15|  1000|Bangalore|       IT|
|    20|1014|   Harish Nair|2023-04-01| 61487|     NULL|   Travel|
|    20|1008|   Ananya Iyer|2021-03-15| 74625|     Pune|   Travel|
|    20|1002|   Priya Patel|2023-03-22| 67387|Bangalore|   Travel|
|    30|1015|   Komal Yadav|2021-11-23| 61894|     NULL|    Forex|
|    30|1009|  Manish Joshi|2020-12-19| 67560|     Pune|    Forex|
|    30|1003|    Ravi Kumar|2021-05-10| 70421|Bangalore|    Forex|
|    40|1010|   Simran Kaur|2023-01-11| 68902|     Pune|       HR|
|    40|1004|   Sneha Gupta|2020-08-25| 68902|Bangalore|       HR|
|   100|NULL|          NULL|      NULL|  NULL|     NULL|Not exist|
+------+----+--------------+----------+------+---------+---------+

In [91]:
# Right join
df_emp.join(df_dept,on='deptno',how='full').show()

+------+----+--------------+----------+------+---------+---------+
|deptno| eno|         ename|       doj|salary|     city| deptname|
+------+----+--------------+----------+------+---------+---------+
|    10|1001|  Arjun Sharma|2022-01-15|  1000|Bangalore|       IT|
|    10|1007|   Vijay Singh|2022-07-08|  1000|     Pune|       IT|
|    10|1013|Shivani Sharma|2022-09-13| 74363|     NULL|       IT|
|    20|1002|   Priya Patel|2023-03-22| 67387|Bangalore|   Travel|
|    20|1008|   Ananya Iyer|2021-03-15| 74625|     Pune|   Travel|
|    20|1014|   Harish Nair|2023-04-01| 61487|     NULL|   Travel|
|    30|1003|    Ravi Kumar|2021-05-10| 70421|Bangalore|    Forex|
|    30|1009|  Manish Joshi|2020-12-19| 67560|     Pune|    Forex|
|    30|1015|   Komal Yadav|2021-11-23| 61894|     NULL|    Forex|
|    40|1004|   Sneha Gupta|2020-08-25| 68902|Bangalore|       HR|
|    40|1010|   Simran Kaur|2023-01-11| 68902|     Pune|       HR|
|    50|1005|    Anil Reddy|2024-02-13| 78005|     Pune|     NULL|
|    50|1011|  Rajesh Mehta|2021-09-01| 62497|     Pune|     NULL|
|    60|1006|    Neha Verma|2019-11-30| 59843|     Pune|     NULL|
|    60|1012| Deepika Desai|2020-06-10| 70179|     NULL|     NULL|
|   100|NULL|          NULL|      NULL|  NULL|     NULL|Not exist|
+------+----+--------------+----------+------+---------+---------+

In [92]:
# Left semi join
df_emp.join(df_dept,on='deptno',how='left_semi').show()

+------+----+--------------+----------+------+---------+
|deptno| eno|         ename|       doj|salary|     city|
+------+----+--------------+----------+------+---------+
|    10|1001|  Arjun Sharma|2022-01-15|  1000|Bangalore|
|    20|1002|   Priya Patel|2023-03-22| 67387|Bangalore|
|    30|1003|    Ravi Kumar|2021-05-10| 70421|Bangalore|
|    40|1004|   Sneha Gupta|2020-08-25| 68902|Bangalore|
|    10|1007|   Vijay Singh|2022-07-08|  1000|     Pune|
|    20|1008|   Ananya Iyer|2021-03-15| 74625|     Pune|
|    30|1009|  Manish Joshi|2020-12-19| 67560|     Pune|
|    40|1010|   Simran Kaur|2023-01-11| 68902|     Pune|
|    10|1013|Shivani Sharma|2022-09-13| 74363|     NULL|
|    20|1014|   Harish Nair|2023-04-01| 61487|     NULL|
|    30|1015|   Komal Yadav|2021-11-23| 61894|     NULL|
+------+----+--------------+----------+------+---------+

In [94]:
df_emp.join(df_dept,on='deptno',how='inner').show()

+------+----+--------------+----------+------+---------+--------+
|deptno| eno|         ename|       doj|salary|     city|deptname|
+------+----+--------------+----------+------+---------+--------+
|    10|1001|  Arjun Sharma|2022-01-15|  1000|Bangalore|      IT|
|    20|1002|   Priya Patel|2023-03-22| 67387|Bangalore|  Travel|
|    30|1003|    Ravi Kumar|2021-05-10| 70421|Bangalore|   Forex|
|    40|1004|   Sneha Gupta|2020-08-25| 68902|Bangalore|      HR|
|    10|1007|   Vijay Singh|2022-07-08|  1000|     Pune|      IT|
|    20|1008|   Ananya Iyer|2021-03-15| 74625|     Pune|  Travel|
|    30|1009|  Manish Joshi|2020-12-19| 67560|     Pune|   Forex|
|    40|1010|   Simran Kaur|2023-01-11| 68902|     Pune|      HR|
|    10|1013|Shivani Sharma|2022-09-13| 74363|     NULL|      IT|
|    20|1014|   Harish Nair|2023-04-01| 61487|     NULL|  Travel|
|    30|1015|   Komal Yadav|2021-11-23| 61894|     NULL|   Forex|
+------+----+--------------+----------+------+---------+--------+

In [95]:
# Left anti join
df_emp.join(df_dept,on='deptno',how='left_anti').show()

+------+----+-------------+----------+------+----+
|deptno| eno|        ename|       doj|salary|city|
+------+----+-------------+----------+------+----+
|    50|1005|   Anil Reddy|2024-02-13| 78005|Pune|
|    60|1006|   Neha Verma|2019-11-30| 59843|Pune|
|    50|1011| Rajesh Mehta|2021-09-01| 62497|Pune|
|    60|1012|Deepika Desai|2020-06-10| 70179|NULL|
+------+----+-------------+----------+------+----+

In [96]:
# Set oprators in pyspark
df_dept = spark.read.option("header","True").option("inferSchema","True").option("delimiter",",").csv("department.csv")
df_dept1 = spark.read.option("header","True").option("inferSchema","True").option("delimiter",",").csv("department1.csv")

In [101]:
# Union
df_dept.union(df_dept1).show()

+------+--------+
|deptno|deptname|
+------+--------+
|    10|      IT|
|    20|  Travel|
|    30|   Forex|
|    40|      HR|
|    80|  Parent|
|    90|   Child|
|    10|      IT|
|    20|  Travel|
|    30|   Forex|
|    40|      HR|
|    50|   Admin|
|    60|Commerce|
|    70|  Health|
+------+--------+

+------+--------+
|deptno|deptname|
+------+--------+
|    10|      IT|
|    20|  Travel|
|    30|   Forex|
|    40|      HR|
|    80|  Parent|
|    90|   Child|
|    10|      IT|
|    20|  Travel|
|    30|   Forex|
|    40|      HR|
|    50|   Admin|
|    60|Commerce|
|    70|  Health|
+------+--------+

In [104]:
df_dept.unionAll(df_dept1).distinct().orderBy(df_dept.deptno).show()

+------+--------+
|deptno|deptname|
+------+--------+
|    10|      IT|
|    20|  Travel|
|    30|   Forex|
|    40|      HR|
|    50|   Admin|
|    60|Commerce|
|    70|  Health|
|    80|  Parent|
|    90|   Child|
+------+--------+

In [105]:
# Intersection
df_dept.intersect(df_dept1).show()

+------+--------+
|deptno|deptname|
+------+--------+
|    10|      IT|
|    30|   Forex|
|    20|  Travel|
|    40|      HR|
+------+--------+

In [107]:
# Except( minus)
df_dept.exceptAll(df_dept1).show()
df_dept1.exceptAll(df_dept).show()

+------+--------+
|deptno|deptname|
+------+--------+
|    90|   Child|
|    80|  Parent|
+------+--------+

+------+--------+
|deptno|deptname|
+------+--------+
|    50|   Admin|
|    60|Commerce|
|    70|  Health|
+------+--------+

In [108]:
df_dept = spark.read.option("header","True").option("inferSchema","True").option("delimiter",",").csv("emp_details_source.csv")

In [111]:
tf1 = df_dept.filter(df_dept.salary>50000)

In [115]:
tdf2 = tf1.groupby('deptno').agg(F.count("salary").alias("emp_count"))

In [117]:
tf3 = tdf2.filter(tdf2.emp_count>1)

In [118]:
tf3.show()

+------+---------+
|deptno|emp_count|
+------+---------+
|    20|        3|
|    40|        2|
|    50|        2|
|    60|        2|
|    30|        3|
+------+---------+

PySparkAttributeError: [ATTRIBUTE_NOT_SUPPORTED] Attribute `emp_count` is not supported.